@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TaksList Project</h1>
</div>
<h2>Prova técnica .NET</h2>
<h3>Tarefa</h3>
<p>Implementar uma tasklist com a stack ASP.NET + SQL SERVER.</p>
<h3>Requisitos</h3>
<p>O usuário deve poder:</p>
<ul>
    <li>Adicionar novas tarefas;</li>
    <li>Marcar e desmarcar o status de concluído;</li>
    <li>Editar o conteúdo da task;</li>
    <li>Deletar uma task;</li>
</ul>
<p>
    Obs.: uma task deve conter ao menos: título e status, podendo conter adicionalmente descrição, datas de
    criação, edição, remoção e conclusão.
</p>
<h3>Diferenciais:</h3>
<ul>
    <li>Versionamento com Git;</li>
    <li>Camada de frontend independente do backend (API REST + frontend);</li>
    <li>Utilização de frameworks ou bibliotecas de frontend (ex: jQuery, Angular, Ember, React, Bootstrap);</li>
    <li>Utilização de frameworks para acesso a dados NHibernate, EntityFramework;</li>
    <li>Bons padrões de desenvolvimento, nomenclaturas, arquitetura, configurações de performance e segurança das bibliotecas e API;
    <li>Documentação no código (onde aplicável) e readme.md;</li>
    <li>Aplicação de conceitos fortes, design patterns e divisão da arquitetura (mesmo que desnecessários para o porte do projeto, e neste caso deve ser deixado um comentário no readme.md);
    <li>Estilização básica do frontend, responsividade e usabilidade;</li>
</ul>